## Problem Statement:

ðŸŽ“ðŸŽ“ Analytics Vidhya conducted an assessment test to hire a Data Scientist. The
candidates were evaluated on 5 different subjects A, B, C, D, and E. The marks of
5 different subjects out of 100 are given below. Help Analytics Vidhya to find out
the answers of the following questions.

### Who scored the highest marks in the subject B?

In [1]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

In [2]:
for student in student_marks[1:]:
    name = student[0]
    mark_in_b = student[1][1]
    print(name,mark_in_b)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

In [3]:
#creating a new list to store the mark in subject b
student_mark_in_b = []
for student in student_marks[1:]:
    name = student[0]
    mark_in_b = student[1][1]
    student_mark_in_b.append([mark_in_b,name])

In [4]:
#the list of students marks in subject b
student_mark_in_b

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [5]:
#sorting the list so that we can find the highest scored marks
sorted(student_mark_in_b)

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

In [6]:
#The name who Scored highest in subject B
sorted(student_mark_in_b)[-1][1]

'Gyan'

### What is the average marks scored in the subject C?

In [7]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

In [8]:
#printing all the marks in subject c to find the average
for student in student_marks[1:]:
    mark_in_c = student[1][2]
    print(mark_in_c)

45
34
13
23
25

In [9]:
#creating a new list to store the marks of subject c
student_mark_in_c = []
for student in student_marks[1:]:
    mark_in_c = student[1][2]
    student_mark_in_c.append([mark_in_c])

In [10]:
#the mark of subject c in a list
student_mark_in_c

[[45], [34], [13], [23], [25]]

In [11]:
#applying average formula in a nested for loop
list_c = [x for t in student_mark_in_c for x in t]
avg = sum(list_c) / len(list_c)

In [12]:
#Average mark in subject c after converting from float to integer
print(int(avg))

28

### Who scored the highest percentage of marks?

In [13]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

In [14]:
#printing the marks of all subject to find the highest percentage of marks
for student in student_marks[1:]:
    name = student[0]
    mark_in_a = student[1][0]
    mark_in_b = student[1][1]
    mark_in_c = student[1][2]
    mark_in_d = student[1][3]
    mark_in_e = student[1][4]
    print(name, mark_in_a, mark_in_b, mark_in_c, mark_in_d, mark_in_e)

Ankit 41 34 45 55 63
Aravind 42 23 34 44 53
Lakshay 32 23 13 54 67
Gyan 23 82 23 63 34
Pranav 21 23 25 56 56

In [15]:
#creating a list to store all the marks of all the candidates
student_marks_in_all = []
for student in student_marks[1:]:
    name = student[0]
    mark_in_a = student[1][0]
    mark_in_b = student[1][1]
    mark_in_c = student[1][2]
    mark_in_d = student[1][3]
    mark_in_e = student[1][4]
    student_marks_in_all.append([[name], [mark_in_a, mark_in_b, mark_in_c, mark_in_d, mark_in_e]])

In [16]:
student_marks_in_all

[[['Ankit'], [41, 34, 45, 55, 63]],
 [['Aravind'], [42, 23, 34, 44, 53]],
 [['Lakshay'], [32, 23, 13, 54, 67]],
 [['Gyan'], [23, 82, 23, 63, 34]],
 [['Pranav'], [21, 23, 25, 56, 56]]]

In [17]:
#applying the percentage formula and storing the value in a new list
student_marks_in_per = []
for studentper in student_marks_in_all[0:]:
    name = studentper[0]
    per = sum(studentper[1]) / 500*100
    
    student_marks_in_per.append([per,name])

In [18]:
#printing the name who scored highest percentage of marks
sorted(student_marks_in_per)[-1][1]

['Ankit']

### If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks?

In [19]:
# student marks
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

In [20]:
#printing the marks of all students
for student in student_marks[1:]:
    name = student[0]
    mark_in_a = student[1][0]
    mark_in_b = student[1][1]
    mark_in_c = student[1][2]
    mark_in_d = student[1][3]
    mark_in_e = student[1][4]
    print(name, mark_in_a, mark_in_b, mark_in_c, mark_in_d, mark_in_e)

Ankit 41 34 45 55 63
Aravind 42 23 34 44 53
Lakshay 32 23 13 54 67
Gyan 23 82 23 63 34
Pranav 21 23 25 56 56

In [21]:
#as per the question we need to consider top-4 subjects, here we are creating a new list and storing the top-4 subjects
student_marks_in_all = []
for student in student_marks[1:]:
    name = student[0]
    mark_in_a = student[1][0]
    mark_in_b = student[1][1]
    mark_in_c = student[1][2]
    mark_in_d = student[1][3]
    student_marks_in_all.append([[name], [mark_in_a, mark_in_b, mark_in_c, mark_in_d]])

In [22]:
#The top-4 subjects
student_marks_in_all

[[['Ankit'], [41, 34, 45, 55]],
 [['Aravind'], [42, 23, 34, 44]],
 [['Lakshay'], [32, 23, 13, 54]],
 [['Gyan'], [23, 82, 23, 63]],
 [['Pranav'], [21, 23, 25, 56]]]

In [23]:
#applying the percentage formula to storing the value in a new list
student_marks_in_per = []
for studentper in student_marks_in_all[0:]:
    name = studentper[0]
    per = sum(studentper[1]) / 400*100
    
    student_marks_in_per.append([per,name])

In [24]:
#the sorted list of percentage secured by the candidates in top-4 subjects
sorted(student_marks_in_per)

[[30.5, ['Lakshay']],
 [31.25, ['Pranav']],
 [35.75, ['Aravind']],
 [43.75, ['Ankit']],
 [47.75, ['Gyan']]]

In [25]:
#name of the candidate who scored highest percentage of marks if we consider top-4 subjects
sorted(student_marks_in_per)[-1][1]

['Gyan']

# Thank you...